<div class="cd-main-header text-center flex flex-column flex-center">
    <!-- No form tag -->
    <div>
        <button class="btn btn-primary"  id="vSchedule">View Lesson Schedule</button>
      
        <button class="btn btn-primary" id="vScheduleALesson">Schedule a Lesson</button>
        <button class="btn btn-primary" id="vEnrollAStudent">New Rider Enrollment</button>
        <button class="btn btn-primary" id="vViewStudents">Participating Students</button>
    </div>

</div>
<script src="/js/index.js"></script>