<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../public/assets/css/bootstrap.min.css" rel="stylesheet" />
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
</head>
<body>
    <header class="cd-main-header text-center flex flex-column flex-center">
        <h1 class="text-xl"><%= farmName %></h1><br />
        <h2 class="text-xl"><%= title %></h2>
        <a href="/" >Task Center</a>
    </header>
    {{!-- <script src="util.js"></script> <!-- util functions included in the CodyHouse framework -->
    <script src="main.js"></script> --}}
</body>
</html>
