<div class="container">

    <table class="table">
        <thead style="text-align:left">
            <tr align="left">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Years Riding</th>
                <th>Horse</th>
                <th>Lessons</th>
                <th>Showing</th>
                <th>Jumping</th>
                <th>Trail Riding</th>
                <th>School Program</th>
                <th>Formal Competition</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ student.FirstName }}</td>
            </tr>

        </tbody>
    </table>
</div>